/* 消息输入框默认折叠有文字输入时展开 */
.chat-input-area {
    max-height: 40px !important;
    transition: .5s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

.chat-input-area .operation {
    opacity: 0;
}
.chat-input-area:not(:has(.ck-placeholder)) .operation {
    opacity: 1;
}

/* 输入框有文字时不折叠 */
.chat-input-area:not(:has(.ck-placeholder)){
    max-height: 50vh !important;
}

/* 解决输入框折叠后再次点击删除页面会抖动的问题 */
.chat-input-area .msg-input {
    transform: translateY(-100px);
    opacity: 0;
}

.chat-input-area:not(:has(.ck-placeholder)) .msg-input {
    transform: initial;
    opacity: 1;
}