/* 隐藏一些不需要的项目，详见源代码注释 */

/* 以下注释中的次序均从 1 开始计数 */
/* 隐藏主页上侧侧栏的第 4, 5 个项目，通常为游戏中心和腾讯文档 */
div.nav.sidebar__nav > div:nth-child(4), div.nav.sidebar__nav > div:nth-child(5) {
    display: none;
}
/* 隐藏主页下侧侧栏的第 1 个项目 (QQ 邮箱) */
div.sidebar__menu > div:nth-child(1) {
    display: none !important;
}
/* 隐藏聊天页面上侧的第 1-3 个项目 (语音通话，视频通话，屏幕共享) */
div.panel-header__action div.func-bar > div:nth-child(1), div.panel-header__action div.func-bar > div:nth-child(2), div.panel-header__action div.func-bar > div:nth-child(3) {
    display: none;
}
/* 隐藏输入框上侧的第 2, 6 个项目 (截图，语音) */
div.chat-func-bar > div:nth-child(1) > div:nth-child(2), div.chat-func-bar > div:nth-child(1) > div:nth-child(6) {
    display: none;
}
/* 隐藏菜单栏的第 2 个项目 (检查更新) */
div#qContextMenu > *:nth-child(2) {
    display: none;
}
/* 隐藏设置界面的第 7 个项目 (超级调色盘) */
div.nav-bar > div:nth-child(7) {
    display: none !important;
}