/* 设置界面用到的 CSS */
.transitio input[type="file"] {
    border-color: var(--fill_standard_primary);
    border-style: dashed;
    border-radius: 0.5em;
    padding: 0.5em;
}
.transitio input[type="file"]::file-selector-button {
    background-color: transparent;
    border-radius: 8px;
    color: var(--text_primary);
    border: 1px solid;
    border-color: var(--fill_standard_primary);
    height: 2em;
    transition: background-color 0.2s ease-in-out;
}
.transitio input[type="file"]::file-selector-button:hover {
    background-color: var(--overlay_hover);
}