/* 媒体查看器透明度修改 */

/* 图片查看器 */
div.main-area__footer {
    backdrop-filter: none;
    background: rgba(0, 0, 0, 0.4);
}
div.image-viewer__tip {
    opacity: 0.4;
}
/* 视频查看器 */
div.plugin-panel-main-area {
    opacity: 0.4;
}
div.plugin-panel-main-area > div.footer {
    backdrop-filter: none;
}
